/* http://meyerweb.com/eric/tools/css/reset/
    v2.0-modified | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.ttf") format("ttf");
  src: url("../fonts/Lato-Regular.woff") format("woff");
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato-Italic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-BoldItalic.ttf") format("ttf");
  src: url("../fonts/Lato-BoldItalic.woff") format("woff");
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2");
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.header__link,
.bunner__link {
  background-color: #8d81ac;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #8d81ac;
}

.header__link:hover,
.bunner__link:hover {
  background-color: #ffffff;
  color: #8d81ac;
}

.bunner__link,
.bunner__descr {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.prises__item-heading,
.prises__item-heading-active {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.header {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/bg/bg_mobil.jpg) center center/cover no-repeat;
  min-height: 718px;
}

.header__logo-icon--hover {
  display: none;
}

.header__logo {
  text-decoration: none;
}

.header__logo:hover .header__logo-icon {
  display: none;
}

.header__logo:hover .header__logo-icon--hover {
  display: inline;
}

.header__logo:hover .header__logo-span {
  color: #ffffff;
}

.header__logo-span {
  display: none;
}

.header__menu {
  padding: 32px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #27262a;
}

.header__link {
  padding: 13px 25px;
  font-size: 15px;
  line-height: 15px;
}

.header__button {
  background-color: transparent;
  width: 48px;
  height: 45px;
  border: none;
  font-size: 24px;
  padding: 0;
}

.header__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/navbar.png) center center/contain no-repeat;
}

.header__button--active::after {
  background: url(../img/navbar_x.png) center center/contain no-repeat;
}

.header__nav {
  position: absolute;
  z-index: 1;
  width: 90%;
  top: 108px;
  right: 5%;
  border: none;
}

.header__nav--active {
  display: none;
}

.nav__wrapper {
  background-color: #333333;
  padding-bottom: 15px;
}

.nav__inner {
  padding: 29px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  line-height: 26px;
  color: #ffffff;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.nav__link--current {
  color: #8d81ac;
}

.nav__link--current::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 53px;
  left: 0;
  top: 13px;
  background: #8d81ac;
}

.header-bunner {
  margin-top: 50px;
  text-align: center;
  padding: 0 20px;
}

.bunner__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}

.bunner__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #8d81ac;
  margin-top: 19px;
}

.bunner__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #848e97;
  margin-top: 14px;
}

.bunner__link {
  min-width: 230px;
  bottom: -2.5%;
  padding: 13px 0;
  font-size: 18px;
  padding: 13px 29px;
  line-height: 20px;
}

.bunner__descr {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #848e97;
  min-width: 241px;
  bottom: -9%;
}

.revolutionary {
  margin-top: 130px;
}

.revolutionary__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 275px;
  color: #635c73;
}

.revolutionary__text {
  margin-top: 27px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  color: #323232;
}

.revolutionary__buttons {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.revolutionary__buttons-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ffffff;
}

.revolutionary__buttons-item:first-child {
  margin-right: 20px;
}

.revolutionary__buttons-item:last-child {
  margin-top: 20px;
}

.revolutionary__buttons-item-img {
  width: 12px;
  height: 12px;
  margin-top: -2px;
}

.revolutionary__button-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  max-width: 70px;
  line-height: 24px;
  background: -webkit-gradient(linear, left bottom, left top, from(#e9e3e3), to(#ffffff));
  background: -o-linear-gradient(bottom, #e9e3e3, #ffffff);
  background: linear-gradient(to top, #e9e3e3, #ffffff);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.revolutionary__buttons-item-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #323232;
}

.revolutionary__buttons-item-number {
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  text-align: center;
  width: 40px;
  color: #323232;
}

.advantages__heading {
  margin-top: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  width: 230px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #8d81ac;
}

.advantages__heading::before {
  content: "<";
}

.advantages__heading::after {
  content: ">";
}

.advantages__item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.advantages__item-logo {
  margin-top: 40px;
}

.advantages__item-logo--book {
  margin-left: 20px;
}

.advantages__item-singature {
  margin-top: 23px;
}

.advantages__item-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-left: auto;
  margin-right: auto;
}

.advantages__item-text {
  font-family: "lato", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  width: 271px;
  color: #848e97;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__img-tel {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 6px;
}

.advantages__img-pc {
  display: none;
}

.reviews {
  padding: 57px 0 0;
  background: url(../img/reviews/bg/bg_mobil.jpg) center center/cover no-repeat;
  background-position: bottom;
}

.reviews__header {
  font-family: "Montserrat", sans-serif;
  width: 300px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.reviews__wrapper {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reviews__item {
  text-align: center;
  width: 260px;
  margin-bottom: 37px;
}

.reviews__logo {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__text {
  margin-top: 20px;
  font-family: "lato", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.reviews__description {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #a291a5;
  padding: 0 11%;
}

.reviews__description:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 22px;
  background: #645766;
  margin-left: auto;
  margin-right: auto;
}

.prices {
  background-image: url(../img/prices/background-tel.png);
  background-size: cover;
  margin-top: -1px;
  padding-top: 14px;
  color: #ffffff;
}

.prices__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 320px;
}

.prices__items {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(1, 320px);
  grid-template-rows: 470px 470px 560px 470px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  grid-row-gap: 18px;
  padding-bottom: 12px;
}

.prises__item-heading {
  background-color: rgba(255, 255, 255, 0.06);
  width: 257px;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.prises__item-heading-active {
  background-color: rgba(0, 0, 0, 0.11);
  padding-top: 43px;
  padding-bottom: 43px;
  width: 299px;
  margin-left: auto;
  margin-right: auto;
}

.prices__item-body {
  width: 257px;
  background-color: rgba(255, 255, 255, 0.11);
  margin-left: auto;
  margin-right: auto;
}

.prices__item-body-active {
  width: 299px;
  background-color: rgba(70, 48, 72, 0.84);
  margin-left: auto;
  margin-right: auto;
}

.prises__item-number {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
}

.prises__item-number::before {
  content: "$";
}

.prises__item-number-active {
  font-size: 82px;
  line-height: 84px;
  padding-top: 20px;
}

.prises__item-month {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.prises__item-month::after {
  content: " ";
  display: block;
  height: 5px;
  width: 60px;
  background-color: #8d81ac;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-bottom: 30px;
}

.prises__item-license {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 37px;
}

.prises__item-license-active {
  line-height: 32px;
  margin-bottom: 83px;
}

.prises__item-button {
  margin-bottom: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  border: none;
  padding: 14px 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.prises__item-button-active {
  margin-bottom: 47px;
}

.prises__item-button-first {
  margin-bottom: 67px;
}

@media (min-width: 481px) {
  .container {
    max-width: 992px;
  }

  .header {
    background: url(../img/bg/bg_desk.jpg) center center/cover no-repeat;
    min-height: 800px;
  }

  .header__logo {
    width: 180px;
  }

  .header__logo-span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 17px;
    vertical-align: middle;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8d81ac;
  }

  .header__menu {
    padding: 22px 20px 18px;
  }

  .header__link {
    padding: 13px 30px;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    width: 100%;
    position: static;
    margin-top: 23px;
  }

  .header__nav--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: inherit;
    padding-bottom: 0;
  }

  .nav__inner {
    border: none;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  .nav__link {
    color: #8d81ac;
  }

  .nav__link::before {
    display: none;
  }

  .nav__link:hover {
    color: #ffffff;
  }

  .header-bunner {
    margin-top: 70px;
  }

  .bunner__title {
    font-size: 72px;
    line-height: 72px;
  }

  .bunner__subtitle {
    font-family: "lato", sans-serif;
    font-size: 24px;
    line-height: 24px;
  }

  .bunner__text {
    margin-top: 19px;
  }

  .bunner__link {
    bottom: -4.5%;
    font-size: 21px;
    line-height: 23px;
    padding: 23px 0;
    min-width: 390px;
  }

  .revolutionary {
    margin-top: 150px;
  }

  .revolutionary__heading {
    width: 100%;
    font-size: 33px;
    line-height: 42px;
  }

  .revolutionary__text {
    margin-top: 33px;
    line-height: 32px;
    font-size: 13px;
    width: 95%;
  }

  .revolutionary__buttons {
    width: 365px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 24px;
  }

  .revolutionary__buttons-item:nth-child(2) {
    margin-right: 20px;
  }

  .revolutionary__buttons-item:last-child {
    margin-top: 0px;
  }

  .advantages__heading {
    width: 100%;
    font-size: 37px;
    line-height: 44px;
  }

  .advantages__items {
    margin-top: 50px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .advantages__item:nth-child(2) {
    margin-top: 62px;
  }

  .advantages__item:nth-child(3) {
    margin-top: 62px;
  }

  .advantages__item:nth-child(4) {
    margin-top: 62px;
  }

  .advantages__item-logo {
    margin-top: 0px;
  }

  .advantages__item-logo--book {
    margin-left: 0px;
    margin-right: 23px;
  }

  .advantages__item-logo--tool {
    margin-right: 44px;
  }

  .advantages__item-logo--stuff {
    margin-right: 74px;
  }

  .advantages__item-logo--clock {
    margin-right: 63px;
  }

  .advantages__item-singature {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
  }

  .advantages__item-heading {
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 0px;
    margin-right: 0px;
  }

  .advantages__item-text {
    width: auto;
    max-width: 500px;
  }

  .advantages__img-tel {
    display: none;
  }

  .advantages__img-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
  }

  .advantages__img-pc-item {
    width: 100%;
  }

  .reviews__header {
    width: 100%;
    font-size: 28px;
    line-height: 30px;
  }

  .reviews__wrapper {
    margin-top: 81px;
  }

  .reviews__item {
    width: 180px;
    margin-bottom: 53px;
  }

  .reviews__description:after {
    margin-top: 20px;
    width: 85%;
  }

  .prices {
    background-image: url(../img/prices/background-tablet.png);
    padding-top: 88px;
  }

  .prices__heading {
    width: 95%;
    font-size: 32px;
    line-height: 50px;
  }

  .prices__items {
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 94px;
  }

  .prises__item-active {
    margin-top: -40px;
  }

  .prises__item-heading {
    width: 235px;
  }

  .prises__item-heading-active {
    width: 240px;
  }

  .prices__item-body {
    width: 235px;
  }

  .prices__item-body-active {
    width: 240px;
  }

  .prises__item-button-first {
    margin-top: 28px;
    margin-bottom: 36px;
  }
}

@media (min-width: 482px) {
  .advantages__heading {
    font-size: 38px;
    line-height: 44px;
  }
}

@media (min-width: 483px) {
  .revolutionary__heading {
    font-size: 34px;
    line-height: 42px;
  }
}

@media (min-width: 494px) {
  .advantages__heading {
    font-size: 39px;
    line-height: 44px;
  }
}

@media (min-width: 496px) {
  .revolutionary__heading {
    font-size: 35px;
    line-height: 42px;
  }
}

@media (min-width: 500px) {
  .prices__items {
    grid-column-gap: 10px;
  }
}

@media (min-width: 501px) {
  .reviews__item {
    width: 240px;
  }
}

@media (min-width: 506px) {
  .advantages__heading {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (min-width: 509px) {
  .revolutionary__heading {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (min-width: 510px) {
  .prices__heading {
    font-size: 34px;
    line-height: 50px;
  }
}

@media (min-width: 523px) {
  .revolutionary__heading {
    font-size: 37px;
    line-height: 42px;
  }
}

@media (min-width: 530px) {
  .advantages__heading {
    width: 506px;
    font-size: 42px;
    line-height: 44px;
  }
}

@media (min-width: 531px) {
  .revolutionary__text {
    font-size: 15px;
    line-height: 32px;
  }
}

@media (min-width: 536px) {
  .revolutionary__heading {
    font-size: 38px;
    line-height: 42px;
  }
}

@media (min-width: 540px) {
  .reviews__header {
    font-size: 32px;
    line-height: 35px;
  }

  .prices__heading {
    font-size: 36px;
    line-height: 50px;
  }

  .prices__items {
    grid-template-columns: repeat(2, 260px);
  }

  .prises__item-heading {
    width: 257px;
  }

  .prises__item-heading-active {
    width: 260px;
  }

  .prices__item-body {
    width: 257px;
  }

  .prices__item-body-active {
    width: 260px;
  }
}

@media (min-width: 550px) {
  .revolutionary__heading {
    font-size: 39px;
    line-height: 42px;
  }
}

@media (min-width: 563px) {
  .revolutionary__heading {
    font-size: 40px;
    line-height: 42px;
  }
}

@media (min-width: 569px) {
  .revolutionary__text {
    font-size: 16px;
  }
}

@media (min-width: 570px) {
  .prices__heading {
    font-size: 38px;
    line-height: 50px;
  }
}

@media (min-width: 590px) {
  .revolutionary__heading {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (min-width: 600px) {
  .prices__heading {
    font-size: 40px;
    line-height: 50px;
  }

  .prices__items {
    grid-template-columns: repeat(2, 280px);
  }

  .prises__item-heading-active {
    width: 280px;
  }

  .prices__item-body-active {
    width: 280px;
  }
}

@media (min-width: 607px) {
  .revolutionary__text {
    font-size: 17px;
  }
}

@media (min-width: 610px) {
  .reviews__header {
    font-size: 34px;
    line-height: 40px;
  }
}

@media (min-width: 630px) {
  .prices__heading {
    font-size: 42px;
    line-height: 50px;
  }
}

@media (min-width: 645px) {
  .revolutionary__text {
    font-size: 18px;
  }
}

@media (min-width: 650px) {
  .prices__items {
    grid-column-gap: 25px;
  }
}

@media (min-width: 660px) {
  .reviews__header {
    font-size: 37px;
    line-height: 44px;
  }

  .prises__item-active {
    margin-left: -34px;
  }

  .prises__item-heading-active {
    width: 299px;
  }

  .prices__item-body-active {
    width: 299px;
  }
}

@media (min-width: 670px) {
  .prices__heading {
    width: 100%;
    font-size: 48px;
    line-height: 50px;
  }
}

@media (min-width: 681px) {
  .reviews__item {
    width: 300px;
  }
}

@media (min-width: 683px) {
  .revolutionary__text {
    font-size: 19px;
  }
}

@media (min-width: 690px) {
  .revolutionary__text {
    width: 690px;
    font-size: 21px;
    line-height: 32px;
  }
}

@media (min-width: 700px) {
  .reviews__header {
    font-size: 42px;
  }
}

@media (min-width: 791px) {
  .reviews__item {
    width: 360px;
  }
}

@media (min-width: 993px) {
  .container {
    max-width: 1200px;
  }

  .header__menu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: inherit;
  }

  .header__link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__nav {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 5px;
    margin-left: 161px;
  }

  .bunner__title {
    font-size: 82px;
    line-height: 82px;
  }

  .bunner__subtitle {
    font-size: 30px;
    line-height: 30px;
  }

  .bunner__text {
    font-size: 16px;
    line-height: 16px;
  }

  .revolutionary {
    margin-top: 129px;
  }

  .advantages {
    margin-top: 70px;
    background-color: #f4f4f4;
    width: 100%;
  }

  .advantages__pc {
    display: grid;
    grid-template-columns: 530px 1fr;
    grid-template-rows: 150px 1fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__heading {
    width: 100%;
    margin-top: 0px;
    padding-top: 95px;
    font-size: 36px;
    line-height: 50px;
  }

  .advantages__items {
    width: 530px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    grid-row: 1 / span 2;
    margin-top: 98px;
    padding-bottom: 71px;
    margin-left: 25px;
  }

  .advantages__img-pc {
    margin-top: 0px;
    padding-bottom: 33px;
  }

  .reviews {
    background: url(../img/reviews/bg/bg_desktop.jpg) center bottom/cover no-repeat;
    padding-bottom: 31px;
  }

  .reviews__header {
    font-size: 48px;
    line-height: 50px;
  }

  .reviews__item {
    margin-bottom: 85px;
    width: 300px;
  }

  .reviews__description:after {
    width: 75%;
  }

  .prices {
    background-image: url(../img/prices/background-pc.png);
    margin-top: -12px;
    padding-top: 83px;
  }

  .prices__items {
    grid-template-columns: 230px 230px 240px 230px;
    grid-template-rows: repeat(1, 1fr);
    margin-top: 112px;
    padding-bottom: 73px;
    grid-column-gap: 10px;
  }

  .prises__item-active {
    margin-left: 0px;
  }

  .prises__item-heading {
    width: 225px;
  }

  .prises__item-heading-active {
    width: 235px;
  }

  .prices__item-body {
    width: 225px;
  }

  .prices__item-body-active {
    width: 235px;
  }
}

@media (min-width: 999px) {
  .advantages__heading {
    font-size: 37px;
  }
}

@media (min-width: 1012px) {
  .advantages__heading {
    font-size: 38px;
  }
}

@media (min-width: 1034px) {
  .advantages__heading {
    font-size: 39px;
  }
}

@media (min-width: 1046px) {
  .advantages__heading {
    font-size: 40px;
  }
}

@media (min-width: 1050px) {
  .prices__items {
    grid-template-columns: 250px 250px 260px 250px;
  }

  .prises__item-heading {
    width: 245px;
  }

  .prises__item-heading-active {
    width: 255px;
  }

  .prices__item-body {
    width: 245px;
  }

  .prices__item-body-active {
    width: 255px;
  }
}

@media (min-width: 1058px) {
  .advantages__heading {
    font-size: 41px;
  }
}

@media (min-width: 1070px) {
  .advantages__heading {
    font-size: 42px;
  }
}

@media (min-width: 1082px) {
  .advantages__heading {
    font-size: 43px;
  }
}

@media (min-width: 1094px) {
  .advantages__heading {
    font-size: 44px;
  }
}

@media (min-width: 1100px) {
  .reviews__item {
    width: 348px;
  }

  .prices__items {
    grid-template-columns: 260px 260px 280px 260px;
  }

  .prises__item-heading {
    width: 257px;
  }

  .prises__item-heading-active {
    width: 275px;
  }

  .prices__item-body {
    width: 257px;
  }

  .prices__item-body-active {
    width: 275px;
  }
}

@media (min-width: 1106px) {
  .advantages__heading {
    font-size: 45px;
  }
}

@media (min-width: 1150px) {
  .prices__items {
    grid-template-columns: 260px 260px 300px 260px;
    grid-column-gap: 15px;
  }

  .prises__item-heading-active {
    width: 299px;
  }

  .prices__item-body-active {
    width: 299px;
  }
}

@media (min-width: 1158px) {
  .advantages__heading {
    font-size: 48px;
  }
}